graft docker_registry_purger
prune docs
prune examples
prune tests
global-exclude *.py[cod] __pycache__ *.so

include CHANGELOG.md LICENSE README.md
exclude Makefile requirements-dev.txt tox.ini Pipfile*
