graft src/docker_registry_purger
graft examples

prune docs
prune tests

global-exclude *.py[cod] __pycache__ *.so

include CHANGELOG.md LICENSE README.md
exclude Makefile requirements-dev.txt tox.ini Pipfile*
